/* aca vamos a poner ciertos estilos para ciertos comps */
body{
    --tw-bg-opacity: 1;
    background-color: rgb(54 47 120 / var(--tw-bg-opacity))
}

.main {
    background-image: url('./assets/pacoDesktop.jpg');
    background-size: cover;
    height: 100vh;
}
/* 
.app {
    background-image: radial-gradient(circle, #6441a5, #56328b, #472473, #39165b, #2a0845);
} */