.main {
    background-image: url('./assets/pacoDesktop.jpg');
    background-size: cover;
    height: 110vh;
}

.item-detail{
    background-image: url('./assets/bgdetail.jpeg');
    background-size: cover;
    width: 100%;
    height: 110vh;
}

.cart-detail{
    background-image: url('./assets/sectionDos.jpg');
    background-size: cover;
    height: 110vh;
}

.nav-btn:hover{
    background-image: linear-gradient(to right, #0f172a, #454859, #80808d, #bebdc4, #ffffff);
}

.blur-nav{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
