/* aca vamos a poner ciertos estilos para ciertos comps */
.main {
    background-image: url('./assets/pacoDesktop.jpg');
    background-size: cover;
    height: 120vh;
}

.item-detail{
    background-image: url('./assets/bgdetail.jpeg');
    background-size: cover;
    width: 100%;
    height: 120vh;
    
}